/* =====================
ROOT STYLES
===================== */

:root {
    /* COLORS */
    --color-primary: rgb(89, 132, 154);
    --color-secondary: rgb(201, 181, 83);
    --color-bg-black: rgb(9, 13, 16);
    --color-bg-grey: rgb(18, 20, 22);
    --color-bg-card: rgb(18, 22, 24);
    --color-text-white: rgb(247, 247, 247);
    --color-text-muted: rgb(128, 128, 128);

    /* TYPOGRAPHY  */
    --font-family: "Poppins", Arial, Helvetica, sans-serif;

    /* TEXT SIZES */
    --fs-small: 0.875rem; /* 14px */
    --fs-medium: 1rem; /* 16px */
    --fs-large: 1.125rem; /* 18px */

    /* LINE HEIGHTS */
    --lh-sm: 1.4;
    --lh-md: 1.3;
    --lh-lg: 1.2;
    --lh-xl: 1.1;

    /* HEADING SIZES */
    --fs-heading-sm: 1.5rem; /* 24px */
    --fs-heading-md: 2rem; /* 32px */
    --fs-heading-lg: 3rem; /* 48px */
}

/* =====================
GLOBAL STYLES
===================== */

/* * {
    outline: 1px solid red;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input {
    max-width: 100%;
}

html,
body {
    max-width: 100%;
    min-height: 100%;
    background-color: var(--color-bg-black);
}

body {
    font-family: var(--font-family);
    color: var(--color-text-white);
    margin: 0;
}

/* =====================
MOBILE STYLES
===================== */

/* ***** NavBar **** */

.navbar {
    background-color: var(--color-bg-black);
    padding: 0;
}

.header-container {
    width: 100%;
    min-height: 3.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.navbar-brand {
    margin-right: auto;
    max-width: 120px;
}

.navbar-brand img {
    height: 3rem;
    width: auto;
    display: block;
}

.btn-outline-success {
    width: 5.06rem;
    height: 2rem;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-color: rgba(89, 132, 154, 0.4);
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-text-white);
}

.navbar-toggler {
    border: none;
    padding: 0.25rem;
}

.bi-instagram,
.bi-facebook {
    padding: 5px;
}

/* ***** Hero Section **** */

.hero-section {
    width: 100%;
    background-image: url("/images/hero/simple_hero_image.jpg");
    background-size: cover;
    background-position: 65% center;
    background-repeat: no-repeat;
    padding: 70px 25px 50px 25px;
}

.hero-container {
    width: 100%;
    max-width: 22.18rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-image {
    display: none;
}

.hero-container h1 {
    font-size: 2.18rem;
    max-width: 10ch;
}

.hero-container h1 span {
    color: var(--color-secondary);
}

#hero-paragraph {
    color: rgb(130, 130, 130);
}

#hero-paragraph span {
    display: inline;
}

.btn-primary,
.btn-secondary {
    min-width: 17rem;
    height: 2.5rem;
    align-self: center;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--color-primary);
    text-transform: uppercase;
    border: none;
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-bg-black);
    text-transform: uppercase;
}

/* ***** What We Offer **** */

.what-we-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-black);
    padding-top: 20px;
}

.what-we-offer-container {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-offer h2 {
    color: var(--color-text-white);
    font-size: 23px;
    text-transform: uppercase;
}

.card {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-card);
    color: var(--color-text-white);
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 20px;
    padding: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    max-width: 8rem;
}

.card-2 img {
    max-width: 7rem;
}

.card h3 {
    max-width: 11ch;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.card-2 h3 {
    max-width: 8ch;
    color: var(--color-secondary);
}

.card p {
    color: gray;
    font-size: 12px;
    text-align: center;
}

/* ***** Join Baystorm/Why Baystorm Works **** */

.join-baystorm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-black);
}

.join-baystorm-container {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.join-baystorm h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 25px;
}

.why-baystorm-works {
    margin-bottom: 25px;
}

.why-baystorm-works p {
    color: rgb(128, 128, 128);
    font-size: 14px;
    margin: 3px;
}

.bi-check {
    color: var(--color-secondary);
    font-size: 20px;
}

/* ***** Sign Up **** */

.sign-up {
    width: 100%;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 25px;
    padding: 0 5px 15px 5px;
}

.sign-up h3 {
    width: 100%;
    max-width: 28ch;
    font-size: var(--fs-small);
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}

.sign-up h3 span {
    color: var(--color-secondary);
}

.sign-up form {
    width: 95%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 12px;
}

.sign-up form div {
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.sign-up input {
    width: 100%;
    max-width: 22rem;
    border: 1px solid rgba(128, 128, 128, 0.3);
    background-color: var(--color-bg-black);
    text-indent: 0.5rem;
}

input::placeholder {
    font-size: 0.75rem;
    color: rgba(130, 130, 130, 0.6);
}

.sign-up button {
    width: 95%;
    margin-top: 20px;
    font-weight: 700;
}

/* ***** Site End Section **** */

.footer {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-black);
    padding-bottom: 25px;
}

.footer-container {
    width: 100%;
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
}

.footer-container img {
    height: 7rem;
    width: auto;
    display: block;
    margin-left: 10px;
    padding-top: 15px;
}

.contact {
    display: flex;
    padding: 15px;
}

.contact-info {
    margin-left: 15px;
}

.contact-item {
    font-size: 12px;
    color: var(--color-text-white);
}

.contact-item address {
    margin-bottom: 0;
    line-height: 20px;
    color: var(--color-text-white);
}

.contact-item a {
    color: var(--color-text-white);
}

.contact h3 {
    color: var(--color-secondary);
    font-size: 18px;
}

.follow-us {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.follow-us h3 {
    font-size: 18px;
    padding-left: 35px;
    color: var(--color-secondary);
}

.follow-us a {
    color: var(--color-text-white);
    padding: 0px 0px 0px 8px;
}

/* ***** Footer **** */

footer nav {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 20px;
    padding-left: 5px;
}

footer nav a {
    font-size: 10px;
    color: var(--color-text-white);
    text-decoration: none;
    padding-left: 15px;
}

.copyright {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(247, 247, 247, 0.4);
    padding-top: 20px;
    padding-left: 60px;
}

/* =====================
TABLET STYLES
===================== */

@media screen and (min-width: 768px) and (max-width: 1439px) {
    /* ***** NavBar **** */

    .header-container {
        max-width: 59rem;
        min-height: 95px;
    }

    .navbar-brand img {
        width: 8rem;
        height: 6rem;
    }

    .btn-outline-success {
        width: 9rem;
        height: 3.2rem;
        border-width: 5px;
        font-size: 16px;
        color: var(--color-primary);
        margin-right: 20px;
    }

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

    /* ***** Hero Section **** */

    .hero-container {
        max-width: 57rem;
    }

    .hero-image {
        display: block;
        width: 408px;
        height: 375px;
    }

    .hero-container h1 {
        font-size: 3rem;
        max-width: 18ch;
    }

    #hero-paragraph {
        max-width: 42rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    #hero-paragraph span {
        display: block;
    }

    #hero-paragraph span:first-child {
        max-width: 30ch;
        margin-bottom: 0.5rem;
    }

    #hero-paragraph span:nth-child(2) {
        max-width: 23rem;
    }

    .hero-section .btn-primary,
    .hero-section .btn-secondary {
        align-self: flex-start;
        min-width: 28.68rem;
        height: 3rem;
    }

    /* ***** What We Offer **** */

    .what-we-offer {
        /* border: 2px solid blue; */
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    .what-we-offer-container {
        /* outline: 2px solid green; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        max-width: 58rem;
        margin: 0 auto;
    }

    .what-we-offer h2 {
        font-size: 28px;
    }

    .card {
        /* outline: 2px solid red; */
        flex-direction: row;
        width: 50%;
    }

    .card-2 img {
        max-height: 92px;
    }

    .card-1,
    .card-2 {
        width: 100%;
        max-width: 25rem;
        min-height: 225px;
    }

    .card-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 35.25rem;
        min-height: 225px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }

    .card img {
        max-width: 10rem;
        max-height: 9rem;
    }

    .card h3 {
        max-width: 25ch;
        font-size: 20px;
    }

    .card p {
        justify-content: center;
        text-align: left;
        max-width: 32ch;
        font-size: 16px;
    }

    /* ***** Join Baystorm **** */

    .join-baystorm-container {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        max-width: 70rem;
    }

    .why-baystorm-works {
        display: flex;
        flex-direction: column;
    }

    .why-baystorm-works h2 {
        font-size: 35px;
        font-weight: 700;
        padding-left: 0;
        padding-bottom: 25px;
    }

    .why-baystorm-works span {
        color: var(--color-secondary);
    }

    .why-baystorm-works p {
        font-size: 24px;
        padding-left: 10px;
    }

    .sign-up {
        max-width: 26.5rem;
        border: none;
    }

    .sign-up h3 {
        max-width: auto;
        font-size: var(--fs-large);
    }

    .sign-up form {
        padding-left: 20px;
    }

    .sign-up .btn-primary {
        max-width: 22rem;
    }

    /* ***** Footer **** */

    .footer-container {
        max-width: 57rem;
    }

    .footer .contact-container {
        outline: 2px solid blue;
        display: flex;
        justify-content: space-around;
        width: 100%;
        /* max-width: 875px; */
    }

    .footer .contact {
        outline: 2px solid yellow;
        width: 700px;
    }

    .footer-container img {
        outline: 2px solid green;
        width: 100%;
        max-width: 150px;
        max-height: auto;
    }

    .footer .contact-info {
        outline: 2px solid aqua;
        max-width: 302px;
    }

    .footer .contact-info h3 {
        display: none;
    }

    .footer .follow-us {
        outline: 2px red solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 315px;
    }

    .footer .follow-us h3 {
        color: var(--color-text-white);
    }
}

/* =====================
DESKTOP STYLES
===================== */
